{% extends "main.jinja2" %}

{% block content %}
<div class="content">
  <h1>Peereesook Project</h1>
  <p class="lead"><span class="font-semi-bold">forbidden</span> forbidden</p>
</div>
{% endblock content %}
